{% extends "core/base.html" %}
{% load static %}
{% block head %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block titlepage %}Log in{% endblock %}
{% block headerclass %}mb-auto {% endblock %}

{% block messages %}{% endblock %}

{% block content %}
<div class="form-login text-center">
  {% include "core/messages.html" %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
  <h1 class="h3 mb-3 fw-normal">Log in</h1>
  <form method="post">
    {% csrf_token %}{% for field in form %}
    <div class="form-floating">
      <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    </div>{% endfor %}
    <input class="btn btn-sm btn-primary btn-block" type="submit">
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}