.calendar table {
  table-layout: fixed;
  min-width: 650px;
}

.calendar th {
  font-weight: 600;
  text-align: center;
}

.calendar td {
  width: 14.286%;
  height: 80px;
}

.calendar td:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.calendar td.today {
  -moz-box-shadow: inset 0 0 0 1px rgba(13, 110, 253, 1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(13, 110, 253, 1);
  box-shadow: inset 0 0 0 1px rgba(13, 110, 253, 1);
}

.day {
  text-transform: uppercase;
  font-size: 60%;
  color: rgba(0, 0, 0, 0.5);
}

.day.disable {
  color: rgba(0, 0, 0, 0.2);
}

.booking {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: left;
}